<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud </title>
<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>

</head>
<body>

    <div class="container p-4">
        <h2> Tickets </h2>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Añadir</button>

    <table class="table table-striped" id="mytable">
            <thead>
                <th> Orden de pedido</th>
                <th> Medios de pago</th>
                <th> Envio</th>
                <th> Acción</th>

            </thead>
            <tbody>
                {{#each results}}
        <tr>
                <td> {{ordendepedido_id }}</td>
                <td> {{mediosdepago_nombre }}</td>
                <td> {{envio }}</td>
        
                <td><a href="javascript:void(0);" class="btn btn-info edit" data-id="{{ordendepedido_id}}" data-mediosdepago-nombre="{{ mediosdepago_nombre}}" data_envio="{{envio}}">Editar</a>    
                <a href="javascript:void(0);" class="btn btn-danger delete" data-id="{{ordendepedido_id}}"> Borrar</a>
                </td>
                
            </tr>

            {{/each}}
            </tbody>

        </table>
    </div>



	<!-- MODAL AGREGAR PRODUCTOS -->
        <form action="/save" method="post">       
            <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="mediosdepago_nombre" class="form-control" placeholder="Medios de pago" required>
                </div>
                <div class="form-group">
                    <input type="text" name="envio" class="form-control" placeholder="Envio" required>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            </div>
            </div>
        </form>




{{!-- EDITAR--}}
<form action="/update" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                     <div class="form-group">
                    <input type="text" name="mediosdepago_nombre" class="form-control " placeholder="Medios de pago" required>
                </div>
                <div class="form-group">
                    <input type="text" name="envio" class="form-control" placeholder="Envios" required>
                </div>
                </div>
                <div class="modal-footer">
                <input type="hidden" name="id" class="ordendepedido_id">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
            </div>
            </div>
    </form>





{{!-- Modal delete --}}

        <form id="add-row-form" action="/delete" method="post">
            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Borrar Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                    <strong>¿Estás seguro de borrar este elemento?</strong>
                    </div>
                    <div class="modal-footer">
                    <input type="hidden" name="ordendepedido_id" class="form-control ordendepedido_id2" required>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Eliminar</button>
                    </div>
                        </div>
                </div>
            </div>
        </form>


<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
         //Mostrar datos al modal para editar registro
        $('#mytable').on('click', '.edit', function(){
        let ordendepedido_id = $(this).data('id');
        let mediosdepago_nombre = $(this).data('mediosdepago_nombre');
        let envio = $(this).data('envio');
        $('#EditModal').modal('show');
        $('.mediosdepago_nombre').val(mediosdepago_nombre);
        $('.envio').val(envio);
        $('.ordendepedido_id').val(ordendepedido_id);
        })

        // Modal DELETE 
           $('#mytable').on('click', '.delete', function(){
        let ordendepedido_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.ordendepedido_id2').val(ordendepedido2_id);
        })
    })
</script>

</body>
</html>







